html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

/* a body ne legyen flex, ne középre igazítson */
body {
  display: block !important;
}

/* a root ne legyen max-width 1280, ne legyen középre húzva */
#root {
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
